.attribution{
    font-size: 11px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attribution a{
    color: hsl(228, 45%, 44%);
}