@use '../utilities' as *;

//two animations used when submit button is clicked to fade out the rate state and fade in the thank you state
@keyframes slideUpAndDissapear{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translateY(-400px);
    }
}

@keyframes slideUpAndAppear{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    1%{
        transform: scale(1);
    }
    100%{
        transform: translateY(-510px);
        opacity: 1;
    }
}


.state{
    background: $blackGradient;
    padding: 2rem;
    @include flex(flex-start, center, column);
    gap: 1.65rem;
    border-radius: 2rem;
    width: 410px;
    position: absolute;

    @media screen and (max-width: 430px) {
        width: 92.5vw;
        padding: 1.5rem;
    }

    &_rating{
        @extend .state;
    }

    &_thankyou{
        @extend .state;
        align-items: center;
        text-align: center;
        padding: 2.5rem 2rem;
        gap: 2rem;
        top: 300px;
        //both display and opacity values to enable animation and to disable selecting of invisible text
        transform: scale(0);
        opacity: 0;

        .given_rate_text{
            width: fit-content;
            padding: 0.25rem 1.5rem;
            background: $darkBlue;
            border-radius: 5rem;
            color: $orange;
        }

        #thankyou_text{
            margin-top: 15px;
        }
    }
}