@use '../utilities' as *;

.rates{
    background: $darkBlue;
    border: none;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    width: 3.1875rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;

    span{
        position: relative;
        top: 1px;
    }
    
    &_wrapper{
        @include flex(center, center, row);
        width: 100%;
        gap: 1.25rem;

        @media screen and (max-width: 430px) {
            gap: 4.5vw;
        }
        @media screen and (max-width: 415px) {
            gap: 4vw;
        }
        @media screen and (max-width: 360px) {
            gap: 2.75vw;
        }
    }
}

//utility classes used for managing the look of rates buttons
.current_rate{
    color: $white;
    background: $orange;
}

.old_rate{
    background: $mediumGrey;
    color: $white;
}

//animation of shaking used when submit button is clicked but there is no rate selected
@keyframes submitError {
    0%, 100%{
        transform: translateX(0px);
    }
    20%, 60%{
        transform: translateX(10px);
    }
    50%{
        color: $white;
        background: #ff3a3a;
    }
    40%, 80%{
        transform: translateX(-10px);
    }
}

#submit_btn{
    width: 100%;
    border-radius: 5rem;
    border: none;
    padding: 0.9rem 0 0.65rem 0;
    background: $orange;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: all 0.2s;

    &:hover{
        background: $white;
        color: $orange;
    }
}