@use '../utilities' as *;

.rates{
    background: $darkBlue;
    border: none;
    display: grid;
    place-items: center;
    aspect-ratio: 1/1;
    width: 3.1875rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;

    span{
        position: relative;
        top: 1px;
    }
    
    &_wrapper{
        @include flex(center, center, row);
        gap: 1.25rem;

        @media screen and (max-width: 430px) {
            gap: 4.5vw;
        }
        @media screen and (max-width: 415px) {
            gap: 4vw;
        }
        @media screen and (max-width: 360px) {
            gap: 2.75vw;
        }
    }
}

button[data-clicked="true"], button[data-clicked="false"]:hover{
    color: $white;
    background: $orange;
}

.old_rate{
    background: $mediumGrey;
}

.submit_btn{
    width: 100%;
    border-radius: 5rem;
    border: none;
    padding: 0.9rem 0 0.65rem 0;
    background: $orange;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: all 0.2s;

    &:hover{
        background: $white;
        color: $orange;
    }
}