@use '../utilities' as *;

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button{
    font: inherit;
}

body{
    overflow: hidden;
    height: 100vh;
    @include typography(0.9375rem, 1.5rem);
    font-family: 'Overpass', sans-serif;
    background: $veryDarkBlue;
    color: $lightGrey;
    @include flex(center, center, row);
}

main{
    @include flex(center, center, row);
    position: relative;
}