@use '../utilities' as *;

.heading{
    &_L{
        @include typography(1.75rem, normal);
        color: $white;
    }

    &_M{
        @include typography(0.9375rem, normal);
        color: $white;
    }
}

.rating{
    line-height: 0.75rem;
    color: $mediumGrey;
    font-weight: 700;
}